<div class="home-page">
  <header>
    <h1>Welcome to Spotify App!</h1>
    <div class="button-container">
      <button (click)="this.router.navigate(['/user'])">Go to user page</button>
    </div>

    <app-device-selection></app-device-selection>
    <app-login></app-login>
    <app-search></app-search>
  </header>

  <section>
    <h2>Recently Played</h2>
    <div class="recently-played-container">
      <div
        *ngFor="let item of recentlyPlayed"
        class="track-card"
        (click)="onTrackClick(item.track)"
      >
        <img
          [src]="item.track.album.images[0].url"
          alt="{{ item.track.name }}"
        />
        <p class="track-title" title="{{ item.track.name }}">
          {{ item.track.name }}
        </p>
        <small>{{ item.track.artists[0].name }}</small>
      </div>
    </div>
  </section>
  <section>
    <h2>User Playlists</h2>
    <div class="playlist-container">
      <div
        *ngFor="let playlist of playlists"
        class="playlist-card"
        (click)="onPlaylistClick(playlist)"
      >
        <img [src]="playlist?.images?.[0]?.url" alt="{{ playlist?.name }}" />
        <p class="track-title" title="{{ playlist?.name }}">
          {{ playlist?.name }}
        </p>
      </div>
    </div>
  </section>

  <section>
    <h2>Your Top Artists</h2>
    <div class="artist-container">
      <div
        *ngFor="let artist of topArtists"
        class="artist-card"
        (click)="onArtistClick(artist.id)"
      >
        <img [src]="artist.images[0].url" alt="{{ artist.name }}" />
        <p class="track-title" title="{{ artist.name }}">{{ artist.name }}</p>
      </div>
    </div>
  </section>

  <section>
    <app-chart></app-chart>
  </section>
  <div>
    <app-player></app-player>
  </div>
</div>
