<div class="home-page">
  <header>
    <h1>Welcome to Spotify App!</h1>
    <button (click)="this.router.navigate(['/user'])">Go to user page</button>
    <app-device-selection></app-device-selection>
    <app-login></app-login>
  </header>

  <section>
    <h2>Recently Played</h2>
    <div class="recently-played-container">
      <div
        *ngFor="let item of recentlyPlayed"
        class="track-card"
        (click)="onTrackClick(item.track)"
      >
        <img
          [src]="item.track.album.images[0].url"
          alt="{{ item.track.name }}"
        />
        <p>{{ item.track.name }}</p>
        <small>{{ item.track.artists[0].name }}</small>
      </div>
    </div>
  </section>
  <section>
    <h2>User Playlists</h2>
    <div class="playlist-container">
      <div
        *ngFor="let playlist of playlists"
        class="playlist-card"
        (click)="onPlaylistClick(playlist)"
      >
        <img [src]="playlist?.images?.[0]?.url" alt="{{ playlist?.name }}" />
        <p>{{ playlist?.name }}</p>
      </div>
    </div>
    <!-- <div *ngIf="playlists.length > 0">
      <h3>Your Playlists:</h3>
      <ul>
        <li *ngFor="let playlist of playlists">
          <div>
            <img
              [src]="playlist?.images?.[0]?.url"
              alt="Playlist Cover"
              width="50"
            />
            <strong>{{ playlist?.name }}</strong>
            <p>Tracks: {{ playlist?.tracks?.total }}</p>
            <button (click)="playPlaylist(playlist.uri)">Play</button>
          </div>
        </li>
      </ul>
    </div> -->
  </section>

  <section>
    <h2>Your Top Artists</h2>
    <div class="artist-container">
      <div *ngFor="let artist of topArtists" class="artist-card">
        <img [src]="artist.images[0].url" alt="{{ artist.name }}" />
        <p>{{ artist.name }}</p>
      </div>
    </div>
  </section>
  <section>
    <app-player></app-player>
  </section>
</div>
