.home-page {
  margin: 30px auto;
  max-width: 1200px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  padding-bottom: 100px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.playlist-container,
.recently-played-container,
.artist-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.playlist-card,
.track-card,
.artist-card {
  width: 150px;
  height: 215px;
  text-align: center;
}

.playlist-card img,
.track-card img,
.artist-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
}

.track-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0px 0 0px 0;
  color: #000;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  display: inline-block;
}

small {
  font-size: 0.9em;
  color: gray;
}

.player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
}

.button-container {
  text-align: center;
  margin-top: 20px;

  button {
    margin: 1rem 1rem 0 0;
    border: 0;
    border-radius: 20px;
    padding: 10px 3rem;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #1ed760;
    color: black;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: #1fdf64;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
